# Ignore downloaded video files
ruv_scraper/downloads/
ruv_scraper/test_downloads/

# Ignore common video file formats
*.mkv
*.mp4
*.webm
*.flv
*.avi
*.mov
*.wmv

# Ignore yt-dlp temporary files
*.part

# Ignore media info files
*.nfo 